.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 4px;
    border: 2px solid;
    gap: 10px;
  }
  .container > span {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }
  .icon {
    font-size: 1.2rem;
  }
  .warning {
    border-color: var(--orange);
    background-color: #3f3736;
  }
  .icon-warning {
    color: var(--orange);
  }
  .success {
    border-color: var(--light-green);
    background-color: #2a5a49;
  }
  .icon-success {
    color: var(--light-green);
  }
  .info {
    border-color: var(--bs-blue);
    background-color: #2c394c;
  }
  .icon-info {
    color: var(--bs-blue);
  }
  
  .error {
    border-color: var(--red);
    background-color: #4a3335;
  }
  .icon-error {
    color: var(--red);
  }
  
  .close {
    cursor: pointer;
  }
  .close i {
    padding-top: 2px;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
  }
  .close i:hover{
    opacity: 0.8;
    transition: color 0.2s ease-in-out;
  }
  