.logs_component {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .continuer {
    width: 334.67px;
    display: flex;
    flex-direction: column;
    background-color: var(--command-bg);
    border-radius: 24px;
    padding: 2rem;
  }
  .heder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heder h3 {
    font-size: 18px;
    margin: 0;
    margin-inline-end: 1rem;
  }
  .select {
    margin-top: 2rem;
  }
  .color-bicker__continuer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .color_picker {
    width: 100%;
    height: 41px;
    border-radius: 12px;
    background-color: #000;
    padding: 1rem;
  }
  
  @media screen and (max-width: 769px) {
    .continuer {
      width: 47%;
    }
  }
  @media screen and (max-width: 550px) {
    .continuer {
      width: 100%;
    }
  }
  