.container {
    padding: 10px;
  }
  
  .card {
    border: 1px solid var(--gray-1);
    border-radius: 24px;
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .card:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .card:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .card:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  .card:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  .card h5,
  .card p {
    margin: 0;
  }
  .card p {
    color: #c5c5c5;
  }
  .card h3 {
    display: flex;
  }
  .card > div {
    display: flex;
    align-items: center;
  }
  .card > div i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 40px;
    min-width: 40px;
    border-radius: 14px;
    margin-inline-end: 10px;
    font-size: 25px;
  }
  .credits i {
    background-color: #6cc1ff;
    color: #002642;
  }
  .level i {
    background-color: #ffbc6c;
    color: #693900;
  }
  .rank i {
    background-color: #beff6c;
    color: #2a4b00;
  }
  .reputation i {
    background-color: #ba9aff;
    color: #360a6f;
  }
  
  @media screen and (max-width: 768px) {
  
    .card {
      width: 100%;
      margin: 10px 0;
    }
  }
  